<h2 mat-dialog-title>Save item</h2>

<mat-dialog-content [formGroup]="form">
  <mat-form-field class="reward-source">
    <input matInput placeholder="Name" class="origin-name-text" formControlName="name">
  </mat-form-field>

  <mat-form-field class="reward-source">
    <mat-select placeholder="Select type" formControlName="itemType">
      <mat-option *ngFor="let type of itemTypes" value={{type}}>{{ type | outputLabel }}</mat-option>
    </mat-select>
  </mat-form-field>

  <ng-container *ngIf="itemTypeFormControl.value === 'Location'">
    <mat-slide-toggle formControlName="vault">Vault</mat-slide-toggle>
  </ng-container> 

  <ng-container *ngIf="hasAspects(itemTypeFormControl.value)">
    <div *ngIf="multipleAspects[itemTypeFormControl.value]">
      <h3 class="reward-title">Aspects</h3>
      <mat-icon matTooltip="Add new apsect" class="reward-add-icon" (click)="addAspect()">add_circle_outline</mat-icon>
    </div>

    <div class="reward-data" formArrayName="aspects" *ngFor="let item of form.get('aspects').controls; let i = index;">
      <div [formGroupName]="i">
        <mat-form-field class="type-field">
          <mat-select placeholder="Select aspect" formControlName="aspect">
            <mat-option *ngFor="let item of aspects" value={{item}}>{{item}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-form-field [ngClass]="{ 'item-field-single': loreSelected, 'item-field': influenceSelected }">
          <mat-select placeholder="Select quantity" formControlName="quantity">
            <mat-option *ngFor="let quantity of itemAspectQuantities[itemTypeFormControl.value]" value={{quantity}}>{{quantity}}</mat-option>
          </mat-select>
        </mat-form-field>
        <mat-icon *ngIf="influenceSelected" matSuffix class="reward-delete-icon" matTooltip="Delete aspect" (click)="removeAspect(i)">
          remove_circle_outline</mat-icon>
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="bookSelected">
    <mat-form-field class="reward-source">
      <mat-select placeholder="Select language" formControlName="language">
        <mat-option *ngFor="let item of languages" value={{item}}>{{item}}</mat-option>
      </mat-select>
    </mat-form-field>
  </ng-container>
</mat-dialog-content>

<mat-dialog-actions>
  <button class="mat-raised-button" (click)="close()">Close</button>
  <button class="mat-raised-button mat-primary" (click)="save()">Save</button>
</mat-dialog-actions>