<ng-container *ngTemplateOutlet="itemTemplate()"></ng-container>

<ng-template #onlyName>
    <mat-list-item (click)="addToBoard(item)">{{ item.name }}</mat-list-item>
</ng-template>

<ng-template #nameAndAspectNum>
    <mat-list-item (click)="addToBoard(item)">{{ item.name }} ({{ item.aspectQuantity }})</mat-list-item>
</ng-template>

<ng-template #nameAndType>
    <mat-list-item (click)="addToBoard(item)">{{ item.name }} ({{ item.label | outputLabel }})</mat-list-item>
</ng-template>

<ng-template #nameTypeAspect>
    <mat-list-item (click)="addToBoard(item)">
        <div>{{ item.name }} ({{ item.label | outputLabel }} <app-aspect [aspect]="item.aspect"></app-aspect>&nbsp;{{ item.aspectQuantity }})</div>
    </mat-list-item>
</ng-template>

<ng-template #nameListAspects>
    <mat-list-item (click)="addToBoard(item)">
        <div>
            {{ item.name }} (
                <ng-template ngFor let-item [ngForOf]="item.aspects" let-i="index" let-last="last">
                    <app-aspect [aspect]="item"></app-aspect>
                    <ng-container *ngIf="!last">/</ng-container>
                </ng-template>
                )
        </div>
    </mat-list-item>
</ng-template>

<ng-template #aspectQuantity>
    <mat-list-item (click)="addToBoard(item)"><app-aspect [aspect]="item.name"></app-aspect>&nbsp;{{ item.aspectQuantity }}</mat-list-item>
</ng-template>

<ng-template #mansusOption>
    <mat-list-item (click)="addToBoard(item)">{{ item.name }} (Door: {{ item.mansusDoor }})</mat-list-item>
</ng-template>
