<mat-expansion-panel>
  <mat-expansion-panel-header>{{ group.label | outputLabel }}</mat-expansion-panel-header>
  <ng-container *ngIf="type === 'Aspect'">
      <mat-list>
          <mat-list-item *ngFor="let entity of group.entities" (click)="addToBoard(entity)">
            <span *ngIf="entity.aspectQuantity === null">{{ entity.name }}</span>
            <span *ngIf="entity.aspectQuantity !== null">{{ entity.name }} ({{ entity.aspectQuantity }})</span>
          </mat-list-item>
        </mat-list>
  </ng-container>
  <ng-container *ngIf="type === 'Book'">
    <mat-list>
      <mat-list-item *ngFor="let entity of group.entities" (click)="addToBoard(entity)">
        <span *ngIf="entity.aspect === null">{{ entity.name }} ({{ entity.label }})</span>
        <span *ngIf="entity.aspect !== null">{{ entity.name }} ({{ entity.label }} {{ entity.aspect }}
          {{ entity.aspectQuantity }})</span>
        </mat-list-item>
      </mat-list>
    </ng-container>
  </mat-expansion-panel>