.edge {
    font-weight: bold;
    color: #23920d;
}

.forge {
    font-weight: bold;
    color: #ff8e3e;
}

.grail {
    font-weight: bold;
    color: #fe6150;
}

.heart {
    font-weight: bold;
    color: #fe7e8b;
}

.knock {
    font-weight: bold;
    color: #b54efc;
}

.lantern {
    font-weight: bold;
    color: #e6cb03;
}

.moth {
    font-weight: bold;
    color: #c0b99b;
}

.secret-histories {
    font-weight: bold;
    color: #fe43f0;
}

.winter {
    font-weight: bold;
    color: #aed5e4;
}
