<h2 mat-dialog-title>Add Language taught by Tutor</h2>

<mat-dialog-content [formGroup]="form">
    <mat-form-field>
        <input matInput placeholder="Tutor" readonly formControlName="tutor">
    </mat-form-field>

    <mat-form-field>
        <input type="text" placeholder="Select Language" matInput formControlName="language"
            [matAutocomplete]="autoLanguage">
        <mat-autocomplete #autoLanguage="matAutocomplete">
            <mat-option *ngFor="let option of filteredLanguages | async" [value]="option">
                {{option}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
    <button class="mat-raised-button" (click)="close()">
        Close
    </button>
    <button class="mat-raised-button mat-primary" (click)="save()">
        Save
    </button>
</mat-dialog-actions>