<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Cultist Simulator Help Guide</span>
    <span class="toolbar-spacer"></span>
    <div>
      <a mat-button (click)="saveItem()">Add item</a>
    </div>
    <mat-form-field class="toolbar-search-box" appearance="fill">
      <mat-label>Search</mat-label>
      <!-- <input matInput #searchTitle placeholder="Title" (keyup)="onKey($event, searchTitle.value)">
          <mat-icon matSuffix (click)="onSearch(searchTitle.value)">search</mat-icon> -->
      <input matInput #searchName [formControl]="myControl" [matAutocomplete]="auto" (keyup)="onKey($event)">
      <mat-icon matSuffix (click)="addItemToBoard()" matTooltip="Add the item to the board">add</mat-icon>
      <mat-autocomplete id="searchResults" #auto="matAutocomplete" [displayWith]="displayFn">
        <!-- <mat-option *ngIf="isLoading" class="is-loading">Loading...</mat-option>
        <ng-container *ngIf="!isLoading"> -->
        <mat-option *ngFor="let item of searchResults | async" [value]="item">
          <mat-icon *ngIf="item.label === 'Lore'" matTooltip="Lore">local_library</mat-icon>
          <mat-icon *ngIf="item.label === 'Book'" matTooltip="Book">book</mat-icon>
          <mat-icon *ngIf="item.label === 'Follower'" matTooltip="Follower">person</mat-icon>
          <mat-icon *ngIf="item.label === 'Aspect'" matTooltip="Aspect">category</mat-icon>
          <mat-icon *ngIf="item.label === 'Location'" matTooltip="Aspect">location_on</mat-icon>
          {{item.name}}
        </mat-option>
        <!-- </ng-container> -->
      </mat-autocomplete>
    </mat-form-field>
  </mat-toolbar-row>
</mat-toolbar>
<app-board></app-board>