<h2 mat-dialog-title>Add influence decay</h2>

<mat-dialog-content [formGroup]="form">
    <mat-form-field>
        <input matInput placeholder="Origin influence" readonly formControlName="originInfluence">
    </mat-form-field>

    <mat-form-field>
        <input type="text" placeholder="Select Influence" matInput formControlName="influence"
            [matAutocomplete]="autoInfluence">
        <mat-autocomplete #autoInfluence="matAutocomplete">
            <mat-option *ngFor="let option of filteredInfluences | async" [value]="option">
                {{option}}
            </mat-option>
        </mat-autocomplete>
    </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions>
    <button class="mat-raised-button" (click)="close()">
        Close
    </button>
    <button class="mat-raised-button mat-primary" (click)="save()">
        Save
    </button>
</mat-dialog-actions>