<h2 mat-dialog-title>Add Reward to location</h2>

<mat-dialog-content [formGroup]="form">
    <mat-form-field>
        <input matInput placeholder="Location" readonly formControlName="location" >
    </mat-form-field>

    <mat-form-field>
        <input matInput placeholder="Name" formControlName="name">
    </mat-form-field>

    <mat-form-field>
        <mat-select placeholder="Select type" formControlName="rewardType">
            <mat-option value="Book">Book</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-checkbox *ngIf="bookSelected" [(checked)]="isNewLanguage" formControlName="newLanguage">
        New Language
    </mat-checkbox>

    <mat-form-field *ngIf="bookSelected && !isNewLanguage">
        <mat-select placeholder="Select language" formControlName="language">
            <mat-option *ngFor="let lang of languages" value={{lang}}>{{lang}}</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field *ngIf="bookSelected && isNewLanguage">
        <input matInput placeholder="Language" formControlName="language" #language>
    </mat-form-field>

    <mat-checkbox formControlName="chance">Chance to get it</mat-checkbox>
    <!--
    <mat-form-field>

        <input matInput [matDatepicker]="myDatepicker"
            formControlName="releasedAt">

        <mat-datepicker-toggle matSuffix
                               [for]="myDatepicker">

        </mat-datepicker-toggle>

        <mat-datepicker #myDatepicker></mat-datepicker>

    </mat-form-field>

    <mat-form-field>

        <textarea matInput placeholder="Description"
            formControlName="longDescription">

        </textarea>

    </mat-form-field> -->


</mat-dialog-content>

<mat-dialog-actions>

    <button class="mat-raised-button" (click)="close()">
        Close
    </button>

    <button class="mat-raised-button mat-primary" (click)="save()">
        Save
    </button>

</mat-dialog-actions>