<mat-card class="card" [cdkDragData]="item" cdkDrag>
    <mat-card-header>
        <mat-card-title>{{item.name}}</mat-card-title>
        <mat-card-subtitle>{{ item.label | outputLabel }}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
        <!-- add section for apsects -->
        <ng-container *ngIf="item.label === 'Aspect'">
            <app-entity-group *ngFor="let group of entities" [group]="group" [aspect]="item.name" [type]="item.label"></app-entity-group>
        </ng-container>
        <ng-container *ngIf="item.label === 'Book'">
            <app-entity-group *ngFor="let group of entities" [group]="group" [aspect]="item.name" [type]="item.label"></app-entity-group>
        </ng-container>
    </mat-card-content>
    <mat-card-actions>
        <button mat-button
            *ngIf="item.label === 'Location' || item.label === 'Book' || item.label === 'MansusDoorOption'"
            (click)="openAddRewardDialog(item.name, item.label)">
            ADD REWARD
        </button>
        <button mat-button *ngIf="item.label === 'MansusDoor'" (click)="openAddOptionDialog(item.name)">
            ADD OPTION
        </button>
        <button mat-button *ngIf="item.label === 'Influence'" (click)="openAddInfluenceDecay(item.name)">
            ADD DECAY
        </button>
        <button mat-button *ngIf="secretHistoriesLore" (click)="openAddLocationDialog(item.name)">
            ADD LOCATION
        </button>
        <button mat-button (click)="removeFromBoard(item)">REMOVE</button>
    </mat-card-actions>
</mat-card>